<div id="<%= dom_id post %>" class="bg-slate-100 p-2 rounded">
  <% if current_user %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <% if current_user.present? %>
        <%= post.title %>
      <% else %>
      <% end %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Content:</strong>
      <%= post.content %>
    </p>
    <% if action_name != "show" %>
      <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium" %>
      <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-200 inline-block font-medium" %>
    <% end %>
  <% else %>
    <div class="bg-red-200 rounded p-1">
      Login if you want to have access to this cool, but protected, post!
    </div>
  <% end %>
</div>
